*.dylib filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
/myenv/bin/activate filter=lfs diff=lfs merge=lfs -text
*.csh filter=lfs diff=lfs merge=lfs -text
*.fish filter=lfs diff=lfs merge=lfs -text
/myenv/bin/chardetect filter=lfs diff=lfs merge=lfs -text
/myenv/bin/convert-caffe2-to-onnx filter=lfs diff=lfs merge=lfs -text
/myenv/bin/convert-onnx-to-caffe2 filter=lfs diff=lfs merge=lfs -text
/myenv/bin/f2py filter=lfs diff=lfs merge=lfs -text
/myenv/bin/f2py3 filter=lfs diff=lfs merge=lfs -text
*.9 filter=lfs diff=lfs merge=lfs -text
/myenv/bin/flask filter=lfs diff=lfs merge=lfs -text
/myenv/bin/futurize filter=lfs diff=lfs merge=lfs -text
/myenv/bin/imageio_download_bin filter=lfs diff=lfs merge=lfs -text
/myenv/bin/imageio_remove_bin filter=lfs diff=lfs merge=lfs -text
/myenv/bin/normalizer filter=lfs diff=lfs merge=lfs -text
/myenv/bin/numba filter=lfs diff=lfs merge=lfs -text
/myenv/bin/pasteurize filter=lfs diff=lfs merge=lfs -text
/myenv/bin/pip filter=lfs diff=lfs merge=lfs -text
/myenv/bin/pip3 filter=lfs diff=lfs merge=lfs -text
/myenv/bin/pycc filter=lfs diff=lfs merge=lfs -text
/myenv/bin/srt filter=lfs diff=lfs merge=lfs -text
/myenv/bin/torchrun filter=lfs diff=lfs merge=lfs -text
/myenv/bin/tqdm filter=lfs diff=lfs merge=lfs -text
/myenv/bin/whisper filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Flask-2.2.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Flask-2.2.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Flask-2.2.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Flask-2.2.3.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Flask-2.2.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Jinja2-3.1.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Jinja2-3.1.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Jinja2-3.1.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Jinja2-3.1.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/MarkupSafe-2.1.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/MarkupSafe-2.1.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/MarkupSafe-2.1.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/MarkupSafe-2.1.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Pillow-9.4.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Pillow-9.4.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Pillow-9.4.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Pillow-9.4.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Pillow-9.4.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Pillow-9.4.0.dist-info/zip-safe filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/SpeechRecognition-3.9.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/SpeechRecognition-3.9.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/SpeechRecognition-3.9.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/SpeechRecognition-3.9.0.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/SpeechRecognition-3.9.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Werkzeug-2.2.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Werkzeug-2.2.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Werkzeug-2.2.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/Werkzeug-2.2.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/certifi-2022.12.7.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/certifi-2022.12.7.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/certifi-2022.12.7.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/certifi-2022.12.7.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/certifi-2022.12.7.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.pem filter=lfs diff=lfs merge=lfs -text
*.typed filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/chardet-5.1.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/chardet-5.1.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/chardet-5.1.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/chardet-5.1.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/chardet-5.1.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/charset_normalizer-3.0.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/charset_normalizer-3.0.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/charset_normalizer-3.0.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/charset_normalizer-3.0.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/charset_normalizer-3.0.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/click-8.1.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/click-8.1.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/click-8.1.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/click-8.1.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/decorator-4.4.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/decorator-4.4.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/decorator-4.4.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/decorator-4.4.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/ffmpeg_python-0.2.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/ffmpeg_python-0.2.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/ffmpeg_python-0.2.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/ffmpeg_python-0.2.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/ffmpeg_python-0.2.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/future-0.18.3-py3.9.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/idna-3.4.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/idna-3.4.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/idna-3.4.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/idna-3.4.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/imageio-2.26.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/imageio-2.26.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/imageio-2.26.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/imageio-2.26.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/imageio-2.26.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.pyi filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/imageio/resources/shipped_resources_go_here filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/imageio_ffmpeg-0.4.8-py3.9.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/imageio_ffmpeg-0.4.8-py3.9.egg-info/not-zip-safe filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/importlib_metadata-6.0.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/importlib_metadata-6.0.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/importlib_metadata-6.0.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/importlib_metadata-6.0.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/importlib_metadata-6.0.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/itsdangerous-2.1.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/itsdangerous-2.1.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/itsdangerous-2.1.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/itsdangerous-2.1.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/llvmlite-0.39.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/llvmlite-0.39.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/llvmlite-0.39.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/llvmlite-0.39.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/llvmlite-0.39.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/more_itertools-9.1.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/more_itertools-9.1.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/more_itertools-9.1.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/more_itertools-9.1.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/more_itertools-9.1.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/moviepy-1.0.3-py3.9.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/numba-0.56.4.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/numba-0.56.4.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
*.third-party filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/numba-0.56.4.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/numba-0.56.4.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/numba-0.56.4.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.cu filter=lfs diff=lfs merge=lfs -text
*.ptx filter=lfs diff=lfs merge=lfs -text
*.gdb filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/numpy-1.23.5.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/numpy-1.23.5.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/numpy-1.23.5.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/numpy-1.23.5.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.pxd filter=lfs diff=lfs merge=lfs -text
*.doxyfile filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.fits filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.pyx filter=lfs diff=lfs merge=lfs -text
*.f90 filter=lfs diff=lfs merge=lfs -text
*.f2py_f2cmap filter=lfs diff=lfs merge=lfs -text
*.f filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/openai_whisper-20230308.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/openai_whisper-20230308.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/openai_whisper-20230308.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/openai_whisper-20230308.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/openai_whisper-20230308.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/openai_whisper-20230308.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/opencv_python-4.7.0.72.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/opencv_python-4.7.0.72.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/opencv_python-4.7.0.72.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/opencv_python-4.7.0.72.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/opencv_python-4.7.0.72.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pip-23.0.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pip-23.0.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pip-23.0.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pip-23.0.1.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pip-23.0.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/proglog-0.1.10.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/proglog-0.1.10.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/proglog-0.1.10.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/proglog-0.1.10.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/proglog-0.1.10.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pydub-0.25.1.dist-info/AUTHORS filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pydub-0.25.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pydub-0.25.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pydub-0.25.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pydub-0.25.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pydub-0.25.1.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pydub-0.25.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/pysrt-1.1.2-py3.9.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/regex-2022.10.31.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/regex-2022.10.31.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/regex-2022.10.31.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/regex-2022.10.31.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/requests-2.28.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/requests-2.28.2.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/requests-2.28.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/requests-2.28.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/requests-2.28.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/setuptools-58.0.4.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/setuptools-58.0.4.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/setuptools-58.0.4.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/setuptools-58.0.4.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/setuptools-58.0.4.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/setuptools-58.0.4.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.tmpl filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/speech_recognition/flac-linux-x86 filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/speech_recognition/flac-linux-x86_64 filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/speech_recognition/flac-mac filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/speech_recognition/pocketsphinx-data/en-US/acoustic-model/README filter=lfs diff=lfs merge=lfs -text
*.params filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/speech_recognition/pocketsphinx-data/en-US/acoustic-model/mdef filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/speech_recognition/pocketsphinx-data/en-US/acoustic-model/means filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/speech_recognition/pocketsphinx-data/en-US/acoustic-model/noisedict filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/speech_recognition/pocketsphinx-data/en-US/acoustic-model/sendump filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/speech_recognition/pocketsphinx-data/en-US/acoustic-model/transition_matrices filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/speech_recognition/pocketsphinx-data/en-US/acoustic-model/variances filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.dict filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/tiktoken-0.3.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/tiktoken-0.3.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/tiktoken-0.3.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/tiktoken-0.3.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/tiktoken-0.3.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/torch-1.13.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/torch-1.13.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/torch-1.13.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/torch-1.13.1.dist-info/NOTICE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/torch-1.13.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/torch-1.13.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/torch/bin/protoc filter=lfs diff=lfs merge=lfs -text
*.0 filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/torch/bin/torch_shm_manager filter=lfs diff=lfs merge=lfs -text
*.cuh filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.mjs filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/tqdm-4.64.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/tqdm-4.64.1.dist-info/LICENCE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/tqdm-4.64.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/tqdm-4.64.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/tqdm-4.64.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/typing_extensions-4.5.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/typing_extensions-4.5.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/typing_extensions-4.5.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/typing_extensions-4.5.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/typing_extensions-4.5.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/urllib3-1.26.14.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/urllib3-1.26.14.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/urllib3-1.26.14.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/urllib3-1.26.14.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.tiktoken filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/zipp-3.15.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/zipp-3.15.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/zipp-3.15.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/zipp-3.15.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/lib/python3.9/site-packages/zipp-3.15.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.srt filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
