# whisperx folder is my virtual envrionment
whisperx/

uploads/

final_videoTEMP_MPY_wvf_snd.mp3
temp.mp4
temp.srt
temp.wav
test_outputTEMP_MPY_wvf_snd.mp3
trimmed.mp4
temp_music.mp3
temp_watermark.png

.env

temp-*
SPEAKER_*