files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/999_restart_httpd.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo '# ----------' >> /etc/httpd/conf/httpd.conf
      echo 'IncludeOptional /opt/elasticbeanstalk/support/conf.d/*.conf' >> /etc/httpd/conf/httpd.conf
      systemctl restart httpd

commands:
  01_restart_httpd:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/post/999_restart_httpd.sh"
