commands:
  01_update_yum:
    command: sudo yum update -y
  02_download_ffmpeg:
    command: |
      ARCH=$(uname -m)
      echo "System architecture is $ARCH" > ~/ffmpeg.log
      if [ "$ARCH" == "x86_64" ]; then
        wget -O ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-amd64-static.tar.xz
      elif [ "$ARCH" == "i686" ]; then
        wget -O ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-i686-static.tar.xz
      else
        wget -O ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-arm64-static.tar.xz
      fi
  03_unpack_ffmpeg:
    command: tar xvf ffmpeg.tar.xz >> ~/ffmpeg.log
  04_move_binaries:
    command: |
      FFMPEG_DIR=$(ls | grep ffmpeg-git)
      echo "FFmpeg directory is $FFMPEG_DIR" >> ~/ffmpeg.log
      sudo mv $FFMPEG_DIR/ffmpeg /usr/bin || echo "Failed to move ffmpeg" >> ~/ffmpeg.log
      sudo mv $FFMPEG_DIR/ffprobe /usr/bin || echo "Failed to move ffprobe" >> ~/ffmpeg.log
