commands:
  01_update_yum:
    command: sudo yum update -y
  02_download_ffmpeg:
    command: |
      if [ "$(uname -m)" == "x86_64" ]; then
        wget -O ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-amd64-static.tar.xz
      elif [ "$(uname -m)" == "i686" ]; then
        wget -O ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-i686-static.tar.xz
      else
        wget -O ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-arm64-static.tar.xz
      fi
  03_unpack_ffmpeg:
    command: tar xvf ffmpeg.tar.xz
  04_move_binaries:
    command: |
      FFMPEG_DIR=$(ls | grep ffmpeg-git)
      sudo mv -f $FFMPEG_DIR/ffmpeg /usr/bin
      sudo mv -f $FFMPEG_DIR/ffprobe /usr/bin