commands:
  01_install_git:
    command: sudo dnf install git -y
  02_install_zlib_devel:
    command: sudo dnf install zlib-devel -y
  03_install_libjpeg-turbo-devel:
    command: sudo dnf install libjpeg-turbo-devel -y
  04_install_git_package:
    command: "/usr/local/bin/pip install git+https://github.com/m-bain/whisperx.git"
