commands:
  01_create_directory:
    command: "mkdir -p /opt/elasticbeanstalk/support/conf.d"

files:
  "/etc/httpd/conf.modules.d/00-proxy_wstunnel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so

  "/opt/elasticbeanstalk/support/conf.d/websocket_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
          ProxyPass /socket.io/ ws://127.0.0.1:8000/socket.io/
          ProxyPassReverse /socket.io/ ws://127.0.0.1:8000/socket.io/
      </VirtualHost>

container_commands:
  01_restart_httpd:
    command: "sudo systemctl restart httpd"