commands:
  01_echo:
    command: "echo 'Running the .ebextensions configuration commands...'"
  02_create_conf_d_directory:
    command: "sudo mkdir -p /etc/httpd/conf.d"
    test: '[ ! -d /etc/httpd/conf.d/ ]'
  03_echo:
    command: "echo 'Created the /etc/httpd/conf.d/ directory.'"
  04_create_websocketupgrade_config:
    command: |
      sudo bash -c "echo 'LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so' > /etc/httpd/conf.d/websocketupgrade.config"
      sudo bash -c "echo 'ProxyPass /socket.io/ ws://127.0.0.1:8000/socket.io/' >> /etc/httpd/conf.d/websocketupgrade.config"
      sudo bash -c "echo 'ProxyPassReverse /socket.io/ ws://127.0.0.1:8000/socket.io/' >> /etc/httpd/conf.d/websocketupgrade.config"
    test: '[ ! -f /etc/httpd/conf.d/websocketupgrade.config ]'
  05_echo:
    command: "echo 'Created the /etc/httpd/conf.d/websocketupgrade.config file.'"
