files:
  "/etc/httpd/conf.d/elasticbeanstalk/websocketupgrade.config":
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so
      ProxyPass /socket.io/ ws://127.0.0.1:8000/socket.io/
      ProxyPassReverse /socket.io/ ws://127.0.0.1:8000/socket.io/