commands:
  01_create_conf_d_directory:
    command: "mkdir -p /etc/httpd/conf.d"
    test: '[ ! -d /etc/httpd/conf.d/ ]'
  02_create_websocketupgrade_config:
    command: |
      echo "LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so" > /etc/httpd/conf.d/websocketupgrade.config
      echo "ProxyPass /socket.io/ ws://127.0.0.1:8000/socket.io/" >> /etc/httpd/conf.d/websocketupgrade.config
      echo "ProxyPassReverse /socket.io/ ws://127.0.0.1:8000/socket.io/" >> /etc/httpd/conf.d/websocketupgrade.config
    test: '[ ! -f /etc/httpd/conf.d/websocketupgrade.config ]'
