files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_create_gunicorn_log_dir.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      mkdir -p /var/log/gunicorn/
      touch /var/log/gunicorn/error.log
      touch /var/log/gunicorn/access.log
      chown webapp:webapp /var/log/gunicorn/
