files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_create_gunicorn_log_dir.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo touch /var/pids/web.pid
      sudo chown webapp:webapp /var/pids/web.pid
      sudo mkdir -p /var/log/gunicorn/
      sudo touch /var/log/gunicorn/error.log
      sudo touch /var/log/gunicorn/access.log
      sudo chown -R webapp:webapp /var/log/gunicorn/
