files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_create_gunicorn_log_dir.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      mkdir /var/log/gunicorn/
      chown webapp:webapp /var/log/gunicorn/

container_commands:
  01_change_gunicorn_log:
    command: "sed -i 's@errorlog = '-'@errorlog = '/var/log/gunicorn/error.log'@' /opt/python/config/gunicorn.conf.py"
  02_change_gunicorn_access_log:
    command: "sed -i 's@accesslog = '-'@accesslog = '/var/log/gunicorn/access.log'@' /opt/python/config/gunicorn.conf.py"
