commands:
  01_install_ffmpeg_dependencies:
    command: "sudo yum -y install autoconf automake bzip2 bzip2-devel freetype-devel gcc gcc-c++ git libtool make pkgconfig zlib-devel"
  02_clone_ffmpeg_source:
    command: "git clone https://git.ffmpeg.org/ffmpeg.git ffmpeg"
    cwd: /home/ec2-user
  03_configure_ffmpeg:
    command: "./configure --prefix=\"/usr/local\" --extra-cflags=\"-I/usr/local/include\" --extra-ldflags=\"-L/usr/local/lib\""
    cwd: /home/ec2-user/ffmpeg
  04_make_ffmpeg:
    command: "make"
    cwd: /home/ec2-user/ffmpeg
  05_install_ffmpeg:
    command: "sudo make install"
    cwd: /home/ec2-user/ffmpeg
  06_add_epel_repo:
    command: "amazon-linux-extras install epel -y"
  07_install_torch:
    command: "/usr/local/bin/pip install torch==2.0.1+rocm5.4.2 torchvision==0.15.2+rocm5.4.2 torchaudio==2.0.2 --index-url https://download.pytorch.org/whl/rocm5.4.2"

packages:
  yum:
    libmagic: []
    ffmpeg: []
    gcc: []
    python3-devel: []