<!DOCTYPE html>
<html>
<head>
	<title>Video Trimmer</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<h1>Video Trimmer</h1>
	<form id="trim-form" method="POST" action="/trim" enctype="multipart/form-data">
		<label for="video-file">Select a video file:</label>
		<input type="file" id="video-file" name="video-file"><br><br>
		<label for="start-time">Start time (in seconds):</label>
		<input type="text" id="start-time" name="start-time"><br><br>
		<label for="end-time">End time (in seconds):</label>
		<input type="text" id="end-time" name="end-time"><br><br>
		<button type="submit" id="trim-button">Trim Video</button>
	</form>
	<script type="text/javascript" src="../static/script.js"></script>
</body>
</html>
